:root {
    --first-color: #f5f5f5;
    --second-color: #f8f8f4;
    --third-color: #7e9271;
    --fourth-color: #ffcab0;
    --width: 90vw;
}

html {
    background-blend-mode: normal;
    scroll-behavior: smooth;
    background: var(--third-color);
}

body {
    min-width: 600px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    max-height: fit-content;
    box-shadow: #7e9271;

}

div {
    position: right;
    display: flex;
    justify-content: right;
    align-items: right;
    width: max-content;
    /* background-color: var(--second-color); */
    /* border: 1px solid; */
}

#devdev1 {
    position: absolute;
    top: 30vh;
    left: 5vw;
    height: 10vh;

    color: #7e9271;
    font-size: 15vh;

}

#devdev2 {
    position: absolute;
    top: 10vh;
    right: 0vw;
    height: 10vh;

    color: #7e9271;
    font-size: 5vh;
}

#devdot {
    color: #ffcab0;
}

#main-section {
    display: flex;
    max-width: var(--width);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    height: 100vh;
    display: flex;
    background-color: var(--second-color);
}

#top {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 90vw;
    background-color: var(--second-color-color);

}

#img-header {
    position: absolute;
    right: 1vw;
    bottom: 0px;
}

.base{
    width: 90vw;
    height: 45vh;
    background-color: aqua;
    margin: auto;

}
.left {
    position:relative;
    margin-left: 0vw;
    margin-right: auto;
    height: 45vh;
    width: 50vw;
    background-color: var(--second-color);
    /* animation-direction: normal; */
}

.right {
    margin-left: auto;
    margin-right: 5%;
    height: 45vh;
    width: 44vw;
    background-color: var(--second-color);
    /* animation: moveFromLeft 2s infinite; */
    /* animation-name: moveFromLeft; */
    /* animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */

}

.move {
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moveFromLeft {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    50% {
        transform: translateX(-100%);
        opacity: 1;
    }

    50.001% {
        opacity: 0;
        transform: translateX(-100vw);
    }

    50.002% {
        opacity: 1;
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveFromRight {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    50% {
        transform: translateX(-100%);
        opacity: 1;
    }

    50.001% {
        opacity: 0;
        transform: translateX(-100vw);
    }

    50.002% {
        opacity: 1;
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}