:root {
    --first-color: #f5f5f5;
    --second-color: #f8f8f4;
    --third-color: #7e9271;
    --fourth-color: #ffcab0;
    --width: 80vw;
    --text-size: 15vw;
}

html {
    scroll-behavior: smooth;
    background: var(--third-color);
}

body {
    min-width: 600px;
    height: 100%;
    padding: 0px;
    margin: 0px;

    max-height: fit-content;
    box-shadow: #7e9271;

    font-family: 'Trebuchet MS', sans-serif;


}

#main-section {
    display: flex;
    max-width: var(--width);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    background-color: var(--second-color);
}

#top {
    position: absolute;
    /* top: 0vh; */
    height: 100vh;
    width: var(--width);
    background-color: var(--second-color);

}

.name-box{
    position: relative;
    top: 40vh;
    left: 2vw;
    max-width: 50vw;
    height: 14vh;
    text-align: right;
    margin-top: 0px;
    padding-top: 0%;
    /* border: 1px solid; */
}

#top-name {
    position: static;
    top: 0vh;
    color: #7e9271;
    font-size: 7vw;

}

#top-text {
    position: static;
    /* bottom: 2vh; */
    right: 0vw;
    color: #7e9271;
    font-size: 2vw;
}

#devdot {
    color: #ffcab0;
}

#img-header {
    position: absolute;
    right: 1vw;
    bottom: 0px;
    height: 55vh;
    float: right;
}


.base {
    background-color: var(--second-color);

    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    
    max-width: var(--width);
    min-height: 45vh;

}

.text{
    text-align-last: left;
    margin: 1vw;
    text-align: justify;
    text-justify: inter-word;
}

h1.text{
    color: var(--third-color);
    text-decoration: underline;
}


/* .left {
    margin-left: 5vw;
    margin-right: auto;
    height: 45vh;
    width: 50vw;
    background-color: var(--third-color);
}

.right {
    margin-left: auto;
    margin-right: 5vw;
    height: 45vh;
    width: 44vw;
    background-color: var(--third-color);

} */

.shadow{
    box-shadow: 0px 0px 2vw #5e6956;
}
.move {
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moveFromLeft {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    50% {
        transform: translateX(-100%);
        opacity: 1;
    }

    50.001% {
        opacity: 0;
        transform: translateX(-100vw);
    }

    50.002% {
        opacity: 1;
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveFromRight {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    50% {
        transform: translateX(-100%);
        opacity: 1;
    }

    50.001% {
        opacity: 0;
        transform: translateX(-100vw);
    }

    50.002% {
        opacity: 1;
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}